<ion-header>
  <ion-toolbar style="box-shadow: 0px 0px 10px rgba(192, 192, 192, 0.25);">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">تفاصيل المزاد</ion-title>
    <ion-buttons slot="end">
      <div style="width: 48px;"></div>
      <ion-button (click)="shareProduct();" hidden>
        <ion-icon name="share-social-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="singleItem">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-chip color="success" *ngIf="showIt && singleItem.status == true && singleItem.type == 1" style="margin-bottom: 10px; border-radius: 4px; padding-top: 20px; padding-bottom: 25px;">
عزيزي العميل تهانينا لقد تم الموافقة على طلبك من ثمار البحار سيتم التنسيق معك قريبا
  </ion-chip>

  <ion-chip color="danger" *ngIf="showIt && singleItem.status == true && singleItem.type == 0" style="margin-bottom: 10px; border-radius: 4px; padding-top: 20px; padding-bottom: 25px;">
    عزيزي العميل نشكرك على المشاركة في مزاد ثمار البحار ونتمنى لك حظ أوفر في المزادات القادمة لم يتم الموافقة على طلبك
  </ion-chip>

  <div class="alert alert-warning" *ngIf="showIt && singleItem.type == -1">
    الرجاء انتظار الرد بتوفر كمية المزاد لدى مؤسسة ثمار البحار
  </div>

  <ion-chip color="tertiary" *ngIf="!showIt && singleItem.status == true" style="margin-bottom: 10px; border-radius: 4px; padding-top: 20px; padding-bottom: 25px;">هذا المزاد تم بيعه الله يبارك للمشتري</ion-chip>

  <ion-img [src]="singleItem.image"></ion-img>

  <!-- <span class="categ">القشريات والبحريات</span> -->
  <div class="d-flex single-title" style="margin-top: 15px;" *ngIf="singleItem">
    <ion-text class="flex-grow-1">
      <h1>{{ singleItem.name }}</h1>
    </ion-text>
    <ion-text class="flex-shrink-0" style="flex-shrink: 0;">
      <span style="flex-shrink: 0;">
        <svg width="8" height="10" viewBox="0 0 8 10" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.18002 5.75418H1.26634C1.64042 5.58662 1.95703 5.47485 2.0145 5.44696C2.10081 5.41906 2.15838 5.39108 2.24469 5.36318C2.33101 5.33527 2.38858 5.27939 2.47489 5.25141L2.50363 5.22351L2.56128 5.19553C2.61885 5.16763 2.73391 5.08377 2.79148 5.02797L2.87779 5.00006L2.90654 5.02797C3.25188 5.33519 3.6547 5.47485 4.02888 5.47485C4.37422 5.47485 4.77704 5.30729 5.12238 4.97208L5.15113 4.94418L5.17987 4.97208C5.23744 5.02796 5.29501 5.08384 5.3525 5.13965C5.38125 5.16755 5.38125 5.16755 5.41007 5.19553C5.81299 5.47486 6.53241 5.6983 6.82018 5.81007C7.16553 5.92184 7.30941 6.1173 7.33815 6.17318C7.7698 6.78773 7.94243 7.96093 8 8.60335C6.87766 9.49723 5.43885 10 4 10C2.53242 10 1.1223 9.49723 2.22445e-07 8.63124C0.0575706 7.98881 0.230196 6.8156 0.661851 6.20107C0.662011 6.08939 0.805895 5.89385 1.18006 5.75419L1.18002 5.75418Z" fill="black"/>
          <path d="M5.66923 3.29608C5.64049 3.32398 5.64049 3.35196 5.61166 3.37986C5.46778 4.27374 4.69078 5.13962 4.00019 5.13962C3.19446 5.13962 2.41746 4.21785 2.27357 3.37986C2.27357 3.35196 2.24483 3.32398 2.24483 3.29608C2.18726 3.2402 2.15851 3.15641 2.12969 3.04464C2.04337 2.70943 2.07212 2.54187 2.10094 2.51388L2.12969 2.48598C2.15843 2.45807 2.15843 2.40219 2.15843 2.34631C2.04329 1.95521 1.92824 1.25688 2.35989 0.782103C2.38863 0.726221 2.64766 0.446888 3.19446 0.27933L3.48223 0.167566C3.91388 0.027901 4.20165 0 4.20165 0H4.48934C4.54691 0 4.60448 0.027901 4.63323 0.027901C4.77711 0.083783 5.52527 0.419003 5.75557 1.11733C5.78431 1.20111 5.87071 1.53632 5.72683 2.31843C5.72683 2.37431 5.75557 2.43019 5.7844 2.48599V2.51389C5.84197 2.59768 5.84197 2.79322 5.75565 3.01667C5.75557 3.15641 5.72683 3.24019 5.66926 3.29608L5.66923 3.29608Z" fill="black"/>
          </svg>

        {{ singleItem.count }}</span>
    </ion-text>
  </div>

  <div class="attributes" style="margin-bottom: 10px;">
    <div class="d-flex ion-align-items-baseline"><span>فتح باب السوق: </span> <p class="price">{{singleItem.first_price }} ر.س </p></div>
  </div>

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="10">
        <div class="d-flex progress-div" style="align-items: center;">
          <ion-progress-bar [value]="progress.toFixed(2)" style="margin-left: 5px;"></ion-progress-bar>
          <p class="ion-no-margin" style="font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 14px;
          color: #000000;
          margin-right: 5px;">{{ progress * 100 | number:'1.2-2' }}%</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-text class="description d-block" *ngFor="let x of announcement" style="margin-bottom: 30px; display: block">
    <h4 style="margin-top: 5px">الوصف</h4>
    <div *ngIf="!x.showMore">
      {{trimString(x.announcementDetails,100)}}
    </div>
    <div *ngIf="x.showMore">
      {{x.announcementDetails}}
    </div>
    <a href="javascript: voi(0);" *ngIf="x.announcementDetails.length > 100" (click)="x.showMore = !x.showMore">عرض <span [innerHtml]="x.showMore ? 'أقل' : 'المزيد'"> </span>
    </a>
  </ion-text>

  <div class="alert alert-warning" *ngIf="showAlert">
    لا يوجد مزايدات في الوقت الحالي !
  </div>

  <div class="bids" *ngIf="!showAlert">
    <div class="d-flex ion-justify-content-between title" *ngIf="singleItem">
      <p>{{ singleItem.count }} مزايد</p>

      <p class="heigh-price">اعلى سعر الان :{{ singleItem.most_price }} ر.س</p>
    </div>

    <ion-chip color="warning" *ngIf="singleItem.count <= 0 && user && user.type === 'user'" style="width: 100%; margin-bottom: 10px; border-radius: 4px; padding-top: 20px; padding-bottom: 25px;">لا توجد مزايادات ، كن أول من يزايد لا تتردد.</ion-chip>

    <ion-chip color="warning" *ngIf="singleItem.count <= 0 && user && user.type === 'visitor'" (click)="goToLogin()" style="width: 100%; margin-bottom: 10px; border-radius: 4px; padding-top: 20px; padding-bottom: 25px;">لا توجد مزايادات ، كن أول من يزايد لا تتردد.</ion-chip>

    <ion-list>
      <ion-item lines="none" class="ion-no-padding" *ngFor="let comment of this.comments">
        <ion-avatar slot="start">
          <img alt="Silhouette of a person's head" *ngIf="comment.user.image" [src]="comment.user.image" />
          <img alt="Silhouette of a person's head" *ngIf="!comment.user.image" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label> {{ comment.user.username }}
          <br>
          <span class="bid-price">{{ comment.comment }} ر.س</span>
        </ion-label>
        <time slot="end">
          {{comment.date | date}}
        </time>
      </ion-item>
    </ion-list>
  </div>

  <div class="add-bid" *ngIf="singleItem && user && user.type === 'user'">
    <h4 *ngIf="!singleItem.status">اضافة سعر الى المزاد <small>( بحد الاقصى {{ singleItem.bid_price }} ريال )</small> </h4>

    <div class="alert alert-warning" *ngIf="erros.length > 0">
      <p *ngFor="let err of erros">{{ err.message }}</p>
    </div>

    <div class="d-flex price-qyt" style="" *ngIf="!singleItem.status">
      <div class="flex-grow-1">
        <div class="d-flex" style="margin-top: 20px;">
          <button class="btn qty-btn" (click)="minusQty()"><ion-icon name="remove-outline"></ion-icon></button>
          <input class="input-qty" type="number" [(ngModel)]="qty" />
          <button class="btn qty-btn" (click)="plusQty()"><ion-icon name="add-outline"></ion-icon></button>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer collapse="fade" *ngIf="singleItem && !singleItem.status && user && user.type === 'user'">
  <ion-toolbar style="padding-inline-start: 15px; padding-inline-end: 15px;">
    <ion-button fill="solid" color="primary" expand="block" (click)="addComment()" class="height-btn ion-no-border" style="--border-radius: 4px; border-radius: 4px">
      دفع للمزاد
    </ion-button>
  </ion-toolbar>
</ion-footer>
