<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div class="elips-1"></div>
<div class="elips-2"></div>

<header class="sub-header bg-main ion-padding">
  <h1>كود التفعيل</h1>
</header>

<ion-content class="ion-padding">
  <ion-text class="ion-text-center desc">
    <p>سوف يتم الان ارسال كود تفعيل الحساب على رقم التالي
      <span>051312165132165</span></p>
  </ion-text>

  <ion-list class="ion-no-border">
    <div class="position-relative" style="margin-bottom: 33px;">
      <ion-label for="tel">رقم الجوال</ion-label>

    </div>

    <ion-button color="primary" expand="block" style="--border-radius: 4px;">تسجيل دخول </ion-button>

    <ion-text class="no-account ion-text-center">
      <p>
        <a href=""> اعادة الارسال</a>
      </p>
    </ion-text>

  </ion-list>


</ion-content>
