<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" [hidden]="!logged">
      <ion-content>

        <ion-list id="inbox-list" >
          <ion-item lines="none" *ngIf="user">
            <ion-avatar slot="start" style="width: 52px;height: 52px;">
              <img *ngIf="!user.image" alt="Silhouette of a person's head" src="assets/4264622.png" />
              <img *ngIf="user.image" alt="Silhouette of a person's head" [src]="user.image" />
            </ion-avatar>
            <ion-label>{{ user.username }}</ion-label>
          </ion-item>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>

      <ion-footer class="ion-padding ion-no-border">
        <ion-list id="inbox-list" lines="none" style="padding: 0;">
          <ion-menu-toggle auto-hide="false" lines="none">
            <ion-item routerDirection="root" (click)="logout()" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" name="log-out-outline" color="danger"></ion-icon> الخروج
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-footer>

    </ion-menu>
    
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
